/* src/App.css */

/* --- Layout principal --- */
html, body, #root {
  margin: 0;
}

/* --- El contenedor principal (App) --- */
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Toda la altura de la ventana */
  background-color: #fff;
}

/* --- El contenido (todo entre Navbar y Footer) --- */
.App-content {
  flex: 1; /* Ocupa todo el espacio disponible, empuja el footer abajo */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}